body {
    background: #f1f1f1;
    background-image: url("http://www.transparenttextures.com/patterns/cutcube.png");
    font-family: 'Roboto', 'Ubuntu', sans-serif;
}
.box {
    border: 1px solid #ccc;
    width: 300px;
    height: 400px;
    margin-right: 0;
    margin-bottom: 10px;
    background-color: white;
    opacity: .5;
}
.box .desc {
    text-align: center;
    color: rgb(85, 85, 85);
    display: flex;
    margin: 10px;
}
.redbox {
    height: 80px;
    width: 300px;
    background-color: #cc181e;
}
.boxes {
    width: 1000px;
    margin: auto;
}
.box img {
    position: relative;
    top: -30px;
    left: 100px;
    margin: 0;
}
.chname {
    position: relative;
    top: 10px;
    margin: auto;
    color: white;
    display: table;
}
.clear {
    clear: both;
}
.mainbox {
    height: 80px;
    width: 300px;
    background-color: #8d0ea0;
}
.gitbox {
    height: 80px;
    width: 300px;
    background-color: black;
}
.kookybox {
    height: 80px;
    width: 300px;
    background-color: #8d0ea0;
}
.twitterbox {
    height: 80px;
    width: 300px;
    background-color: #1da1f2;
}
.steambox {
    height: 80px;
    width: 300px;
    background-color: #171a21;
}
.xboxbox {
    height: 80px;
    width: 300px;
    background-color: green;
}